<div class="submit-form">
    <div [hidden]="submitted">
        {{diagnostic}}

        <h1> Add new recipe: </h1>
        <form (ngsubmit)="onSubmit()" #addrecipe="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="recipe.name" name="name"
                    #name="ngModel">

                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input type="text" class="form-control" id="image" [(ngModel)]="recipe.image" name="image">
                </div>

                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <textarea class="form-control" id="ingredients" required [(ngModel)]="recipe.ingredients"
                        name="ingredients" #ingredients="ngModel"
                        placeholder="Put each ingredient on its own line"></textarea>
                    <div *ngIf="ingredients.invalid && (ingredients.dirty || ingredients.touched)"
                        class="alert alert-danger">
                        <div *ngIf="ingredients.errors.required">
                            Ingredients are required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" required [(ngModel)]="recipe.instructions"
                        name="instructions" #instructions="ngModel"
                        placeholder="Put each step on its own line"></textarea>

                    <div *ngIf="instructions.invalid && (instructions.dirty || instructions.touched)"
                        class="alert alert-danger">
                        <div *ngIf="instructions.errors.required">
                            Instructions are required.
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" (click)=saveRecipe(); [disabled]="!addrecipe.form.valid">Submit</button>
                <button type="button" class="btn btn-default" (click)="newRecipe(); addrecipe.reset()">Reset/Add New
                    Recipe</button>
            </div>        
        </form>
    </div>
</div>