<div *ngIf = "!editMode" class="col-md">
<h3>{{currentRecipe.name}}</h3>
<img class="img-fluid" src="{{ currentRecipe.image}}" alt="Picture of {{currentRecipe.name}}"/>
<br>


  <h4>Rating:</h4>
  <ngb-rating
  [(rate)]=selectedRating
  [starTemplate]="t"
  [readonly]="readOnly"
  [max]="5"
  (rateChange)="updateRating(selectedRating)"
>
  </ngb-rating>
<hr>

  <h5>Avg. Rating {{ currentRecipe.rating.toFixed(2) }}  {{ currentRecipe.numOfRatings }}Ratings</h5>
<br>
<br>
<h4 *ngIf="currentRecipe.createdBy">Created By: {{ currentRecipe.createdBy }}</h4>
<h4>Ingredients</h4>
<ul>
    <li *ngFor="let ingredient of parsedIngredients">
        {{ ingredient }}
    </li>
</ul>
<h4>Instructions</h4>
<ol>
   <li *ngFor="let step of parsedInstructions">
    {{ step }}
   </li>
</ol>
</div>

<div *ngIf = "editMode">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="currentRecipe.name" name="name"
            #name="ngModel"/>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" [(ngModel)]="currentRecipe.image" name="image">
        </div>

        <div class="form-group">
            <label for="ingredients">Ingredients</label>
            <textarea class="form-control" id="ingredients" required [(ngModel)]="currentRecipe.ingredients"
                name="ingredients" #ingredients="ngModel"
                placeholder="Put each ingredient on its own line" rows="10"></textarea>
            <div *ngIf="ingredients.invalid && (ingredients.dirty || ingredients.touched)"
                class="alert alert-danger">
                <div *ngIf="ingredients.errors.required">
                    Ingredients are required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" required [(ngModel)]="currentRecipe.instructions"
                name="instructions" #instructions="ngModel"
                placeholder="Put each step on its own line" rows="10"></textarea>

            <div *ngIf="instructions.invalid && (instructions.dirty || instructions.touched)"
                class="alert alert-danger">
                <div *ngIf="instructions.errors.required">
                    Instructions are required.
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="currentRecipe.isForked">
    <h4>Recipe forked from <a href="/recipe/{{ currentRecipe.parentId }}">here</a></h4>
</div>
<div *ngIf = "!editMode" class="btn-group" role="group" aria-label="User actions">
    <button type="button" class="btn btn-secondary" (click)="onEditClick()">Edit Recipe</button>
    <a type="button" class="btn btn-secondary" href="/add-recipe/{{ currentRecipe.id }}">Fork Recipe</a>
</div>
<button *ngIf = "editMode" type="button" class="btn btn-secondary" (click)="updateRecipe();location.reload()" >Submit edits</button>
<button *ngIf = "editMode" type="button" class="btn btn-secondary" (click)="reloadOnCancel()">Cancel edit mode</button>
<button *ngIf = "editMode" type="button" class="btn btn-danger float-right" (click)="deleteRecipe()" >Delete Recipe</button>

