<div class="col-md">
    <h4>All Recipes</h4>
        <div *ngFor="let recipe of recipes" class="card mb-3" style="max-width: 540px;">
           <img class="card-img-top" src="{{ recipe.image }}" alt="Picture of {{ recipe.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.name }}</h5>
                  <ngb-rating [rate]=recipe.rating [max]=5 [readonly]='true'></ngb-rating>
                  <hr>
                  <a href="recipe/{{recipe.id}}" class="btn btn-primary">View Recipe</a>
                </div>
              </div>
            </div>